<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KrishiMitra</title>
  <link rel="stylesheet" href="stylesheet/Forgot_Password.css">
</head>

<body>
  <div class="otp-container">
    <h2>Enter OTP</h2>
    <div class="otp-inputs">
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
      <input type="text" maxlength="1" />
    </div>
    <button type="submit" class="submit-btn">Verify</button>
  </div>
  <script src="javascript/Forgot_Password.js"></script>
</body>

</html>