<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing</title>
    <link rel="stylesheet" href="../public/stylesheet/Listing_Items.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="card-container">
        <div class="card">
            <div class="image-slider">
                <img src="paddy.jpg" class="slide active" alt="Paddy grain image 1">
                <img src="paddy2.jpg" class="slide" alt="Paddy grain image 2">
                <img src="paddy3.jpg" class="slide" alt="Paddy grain image 3">

                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            <div class="card-content">
                <h2>PADDY</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id cupiditate tempora blanditiis.</p>
                <div class="button-container">
                    <button class="btn1 adc">Add to Cart <i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="btn1 wl">WishList <i class="fa-regular fa-heart"></i></button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="image-slider">
                <img src="wheat.jpg" class="slide active" alt="Paddy grain image 1">
                <img src="wheat2.webp" class="slide" alt="Paddy grain image 2">
                <img src="wheat3.webp" class="slide" alt="Paddy grain image 3">

                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            <div class="card-content">
                <h2>WHEAT</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id cupiditate tempora blanditiis.</p>
                <div class="button-container">
                    <button class="btn2 adc">Add to Cart <i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="btn2 wl">WishList
                        <i class="fa-regular fa-heart"></i></button>
                </div>
            </div>
        </div>

    </div>
    <script src="../public/javascript/Listing_Items.js" defer></script>
</body>

</html>